@media (min-width: 600px) and (max-width: 900px) {
    #idade{
        margin: 20px 30% 10px 30%;
    }
    #foto{
        margin-top: 5%;
    }
    footer{
        margin-top: 75px;
    }
    #foto1{
        height: 300px;
        width: 300px;
    }
}
@media (min-width: 1200px) {
    #idade{
        margin: 20px 40% 10px 40%;
    }
    #foto{
        margin-top: 6%;
    }
    #foto1{
        height: 300px;
        width: 300px;
    }

}
