*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cor5);
}
:root{
    --cor1: #5C78F5;
    --cor2: #9EF54E;
    --cor3: #F5764E;
    --cor4: #A07668;
    --cor5: #606475;
}
nav{
    background: var(--cor1);
    color: #fff;
    text-align: center;
    padding: 10px;
}
#teste{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 20% 10px 20%;
    background: var(--cor2);
    border-radius: 10px;
    border: 1px solid #00d4ff;
}
.teste1{
    flex: 30%;
    color: #fff;
    margin-left: 10px;
    padding: 5px;
}
#idade{
    margin: 10px 15% 10px 10%;
    display: flex;
    flex-wrap: wrap;
}
.quadrado{
    background: var(--cor2);
    border: 1px solid var(--cor2);
    padding: 10px;
    border-radius: 5px 0 5px 0;
    color: var(--cor4);
    cursor: pointer;
    margin-left: 2%;
}
#foto{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    margin: auto;
    margin-top: 30%;
    padding: 10px;
    border-radius: 10px;
}
#foto1{
    height: 200px;
    margin: auto;
    background: #b3aa09;
}
#res{
    width: 200px;
    padding: 10px;
    margin: auto;
    border-radius: 5px 0 5px 0;
    text-align: center;
    color: #fff;
}
footer{
    background: var(--cor1);
    padding: 20px;
    color: #fff;
    border-top: 2px solid blue;
    margin-top: 40px;
}
a{
   color: #fff; 
   display: inline-block;
   margin-top: 5px;
}
.curso{
    cursor: pointer;
}
